/*universal Constant*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Start Header = Main, Nav*/
header {
   width: 100%;
   background-image: url(Background.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/*Navigation Bar*/
nav {
   width: 100%;
   height: 12vw;
   background: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

nav .navtag1{
   width: 40%;
   color: aliceblue;
   font-size: 3vw;
   font-weight: bolder;
   text-shadow: 2px 1px 2px black;
}

nav .navtag2{
   color: red;
}

nav .manu {
   width: 60%;
   margin-right:2.5vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav .manu ul {
   padding: 1vw;
}

nav .manu ul a{
   text-decoration: none;
   color: white;
   font-size: 5vw;
   border: solid white;
   padding: 1vw;
   font-weight: bolder;
}

nav .manu ul a:hover{
   font-size: 5.5vw;
   color:gold;
   text-shadow: 2px 1px 2px black;
   box-shadow: 2px 1px 2px black;
}

 nav .manu .child a{
   font-size: 5.5vw;
   color:gold;
   text-shadow: 2px 1px 2px black;
   box-shadow: 2px 1px 2px black;
}

/*Main Start Here*/
main marquee{
   color:gold;
   text-shadow: 2px 1px 2px black;
   background: rgba(255,255,255,0.8);
   font-size: 4vw;
}

main .logo {
   background: rgba(0,0,0,0.5);
   color: gold;
   text-shadow: 2px 1px 2px black;
   font-weight: bolder;
   font-size:3vw; 
   display: flex;
   justify-content: space-around;
   align-items: center;
}

main .logo span{
   color: white;
   padding: 1vw;
   border: solid gold;
   background: rgba(255,255,255,0.5);
   text-decoration:underline;
} 

main .logo img{
   padding: 2vw;
   height: 25vw;
   width: 25vw;
   background-image: url(Logo.jpg);
   background-position: 100%;
   background-repeat:no-repeat;
   background-size:cover;
}

main .logo img:hover{
   padding: 2vw;
   height: 25vw;
   width: 25vw;
   background-image: url(Harshad.jpg);
   background-position: 100%;
   background-repeat:no-repeat;
   background-size:cover;
}

/*Empty Space for fature update*/
div.update{
   font-size: 5vw;
   color:white;
   text-shadow: 2px 1px 2px black;
   background:gold;
   box-shadow: 3px 1.5px 3px black;
}

main .news {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

main .news .box1{
   width: 45%;
   border: solid white;
   box-shadow:3px 1.5px 3px black;
   font-size: 5vw;
   color: gold;
   background: rgba(0,0,0,0.5);
   text-shadow: 2px 1px 2px black;
   font-weight: bolder;
}

/*Hover on box1*/
main .news .box1:hover{
   background: rgba(255,255,255,0.5);
   border: solid gold;
}


/*Footer social media*/
main .follow {
   border: solid white;
   color: gold;
   background: rgba(0,0,0,0.5);
   margin-left: 25vw;
   margin-right: 25vw;
   font-size: 5vw;
   padding:.5vw; 
   font-weight: bolder;
   text-shadow: 2px 1px 2px black;
}

main .footer{
   display: flex;
   justify-content: space-around;
   align-items: center;
  
}

main .footer img{
    width:22vw;
   height:11vw;
   border-radius: 4vw;
}
 












